@font-face {
    font-family: 'WeatherIcons';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/fonts/weathericons-regular-webfont.eot');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/fonts/weathericons-regular-webfont.woff2') format('woff2'),
         url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/fonts/weathericons-regular-webfont.woff') format('woff'),
         url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/fonts/weathericons-regular-webfont.ttf') format('truetype'),
         url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/fonts/weathericons-regular-webfont.svg#weathericons-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .wi {
    font-family: 'WeatherIcons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wi:before {
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Weather Icons */
  .wi-day-sunny:before { content: "\f00d"; }
  .wi-day-cloudy:before { content: "\f002"; }
  .wi-cloud:before { content: "\f041"; }
  .wi-cloudy:before { content: "\f013"; }
  .wi-showers:before { content: "\f01a"; }
  .wi-rain:before { content: "\f019"; }
  .wi-thunderstorm:before { content: "\f01e"; }
  .wi-snow:before { content: "\f01b"; }
  .wi-fog:before { content: "\f014"; }
  